<style rel="stylesheet" href="app.component.css"></style>

<header>
  <img src="https://img.icons8.com/windows/32/000000/star-of-bethlehem.png" />
  <p>Aqui um pouco, do que um estudante da TOTI pode fazer</p>
  <img src="https://img.icons8.com/doodle/48/000000/heart-balloon--v1.png" />
</header>

<section>
  <h1>APRENDENDO COM JSON,<BR /> NÃO É FACIL MAIS NÃO IMPOSSIVEL</h1>
  <p>Graças a tudos por ajudar-me</p>
  <p>click ao Button e você vai olhar os melhores trabalhadores do mês</p>
</section>

<button (click)="getAllUsers()">todos los Usuarios</button>
<p>&copy; EASD Venezuela</p>
<hr />

<ul *ngFor="let u of user">
  <h4>Dados Pessoais:</h4>
  <li>Numero: {{ u.id }}</li>
  <li>Name: {{ u.name }}</li>
  <li>Sobrenome: {{ u.username }}</li>
  <li>email: {{ u.email }}</li>
  <li>telefone: {{ u.phone }}</li>
  <li>url: {{ u.website }}</li>
  <h4>Endereço:</h4>
  <li>Cidade: {{ u.address.city }}</li>
  <li>Rua: {{ u.address.street }}</li>
  <li>apto: {{ u.address.suite }}</li>
  <li>CEP: {{ u.address.zipcode }}</li>
  <h4>Trabalha em:</h4>
  <li>Trabalho: {{ u.company.name }}</li>
  <li>Slogan da Empresa: {{ u.company.catchPhrase }}</li>
</ul>
